<h2><%= @name %> is in private room #<%=session[:room_id] %>!</h2>


<% unless @piles.empty? %>
  <div>
    <div>
      <h3>Player <%= @player1[:name] %> : <%= @room.game_hands.find(@player1[:id]).display_hand %> </h3>
      <h3>Amount of Cards in <%=@player1[:name] %>'s Hand: <%= @room.game_hands.find(@player1[:id]).card_amount %></h3>
    </div>
    <% @piles.each do |pile|   %>
      <%= button_to "New Deck in Pile #{pile.id}", room_pile_deck_path(params[:id],pile.id), :method => :post %>
      <% unless pile.decks.empty? %>
        <div>
          <%= button_to "Draw 1 Card from Pile #{pile.id}", room_deck_draw_path(params[:id], :deck_id => pile.decks.first.id), method: :get,:class => 'btn btn-primary', id: 'draw_card'%>
        </div>
        <div>
          <h3>DECK AMOUNT: <%= pile.decks.first.card_amount %></h3>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
<div>
  <%= button_to "New Pile", room_pile_index_path(params[:id]), :method => :post %>
</div>