<h2><%= @name %> is in private room #<%=session[:room_id] %>!</h2>


<div>
  <%= button_to "New Deck", room_deck_index_path(params[:id]), :method => :post %>
</div>
<% unless @room_items.empty? %>
  <div>
    <%= button_to 'Draw 1 Card', room_deck_draw_path(params[:id], :deck_id => @room_items.keys[0]), method: :get,:class => 'btn btn-primary',   id: 'draw_card' %>
  </div>
  <div>
    <h3>DECK AMOUNT: <%= @items.length %></h3>
    <h3>Player <%= @player1[:name] %> : <%= @room.game_hands.find(@player1[:id]).display_hand %> </h3>
  </div>
<% end %>