<h2>You are in a private room!</h2>
Player name: <%= @name %>
<%= button_to "Leave Game", room_leave_path, :method => :get %>

<div>
  <%= button_to "New Deck", room_deck_index_path(params[:id]), :method => :post %>
</div>
<% unless @room_items.empty? %>
  <div>
    <%= button_to 'Draw 1 Card', room_deck_draw_path(params[:id], :deck_id => @room_items.keys[0]), method: :get,:class => 'btn btn-primary', id: 'draw_card'%>
  </div>
  <div>
    <table class="table table-striped col-md-12">
      <thead>
      <tr>
        <td>Rank</td>
        <td>Suit</td>
      </tr>
      </thead>
      <tbody>
      <% @room_items.each do |key,deck|   %>
      <% deck.each do |card| %>
        <tr><td>
          <%= card[:rank] %>
        </td>
          <td>
            <%= card[:suit] %>
        </tr></td>
      <%end %>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>